/* 
  Generative AI - CoPilot was used to assist in the creation of this file.
  CoPilot was asked to provide help with CSS styling and for help with syntax.
*/
.p-toast {
  z-index: 10;
  font-family: "Inter";
}

.p-toast .p-toast-message {
  background: var(--toast-color);
  color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
  border-width: 0.05rem;
  border-style: solid;
  max-width: 16rem;
}

.p-toast .p-toast-message-secondary {
  background: var(--toast-color);
}

.p-toast-summary {
  font-weight: bold;
  font-size: 1.5rem;
}

.p-toast-detail {
  font-weight: normal;
  font-size: 1rem;
}
